<section>
  <div class="page-width pt-5 pb-5">
    <div class="grid">
      <div class="membership__intro-text text-center pb-1">
        <h2 id="email-list">Join our email list</h2>
        <p>
          Not ready to be a member but want to be on our shortlist for deals, tips, and new offerings? Put us in your DMs.
        </p>
      </div>
      <div class="grid__item one-whole">
        <form class="flex-form">
          <fieldgroup class="flex-field">
            <label for="name">Name</label>
            <input id="name" type="text" name="name">
          </fieldgroup>
          <fieldgroup class="flex-field">
            <label for="email">Email</label>
            <input id="email" type="text" name="email">
          </fieldgroup>
          <fieldgroup class="flex-field">
            <label for="zip">Zipcode</label>
            <input id="zip" type="text" name="zip">
          </fieldgroup>
          <input type="submit" value="Subscribe" class="button">
        </form>
      </div>
    </div>
  </div>
</section>
