<section id="membership-sustainable">
  <div class="page-width pt-5 pb-5">
    <div class="grid">
      <div class="grid__item two-thirds medium-up--five-twelfths mt-2 mb-2">
        <h2 class="text-white text-shadow">
          All organic, sustainable, compostable, lovable. Cause plastic sucks.
        </h2>
        <p class="text-white text-shadow">
          Our containers are made out of rice hulls – can you believe that?! – and natural dyes, starting to compost in about five years. Our organics (plants, soil, compost, mulch) are all organic and sourced from Central Texas. Our plant food is made from food waste. You could throw the whole thing in the compost and be just fine, but that’d hurt our feelings tbh.
        </p>
      </div>
    </div>
  </div>
</section>
