<section id="membership-questions">
  <div class="page-width pt-3 pb-3">
    <div class="grid">
      <div class="grid__item one-half medium-up--one-half mt-5 mb-5">
        <h2>
          No commitment. Pauseable, cancelable. You do you.
        </h2>
        <p>
          Your membership gets you a full season’s worth of products and support, but you can bow out early, no problem. Don’t wanna re-up next season? You can edit, pause, or cancel your membership anytime. Life happens. We understand.
        </p>
        <p>
          Want to make a return? Thing is, since it’s all organic, we can’t re-use it, so we just say hey, keep it, store it, compost it, hand it to a friend, make some art with it. Do good with it.
        </p>
        <a href="/pages/faq" class="button">See full FAQ</a>
      </div>
      <div class="grid__item one-half medium-up--five-twelfths medium-up--push-one-twelfth unconstrained-container">
        <div class="unconstrained-image clip-polygon">
        </div>
      </div>
    </div>
  </div>
</section>
