<section id="membership-info__plant-options">
  <div class="page-width pt-5 pb-5">
    <div class="grid">
      <div class="grid__item two-thirds push-one-sixth medium-up--one-half medium-up--push-one-quarter text-center">
        <h2>Blah</h2>
        <p>
          Maecenas interdum quam id luctus maximus. Etiam varius odio metus. Etiam varius libero sapien, quis cursus eros mattis nec. Vivamus id risus eu erat scelerisque varius quis id augue. Curabitur id sollicitudin turpis. Fusce quam urna, posuere vitae ipsum eget, efficitur dignissim lorem. Nam finibus libero nec urna imperdiet, id euismod leo pretium. Donec ut elementum libero.
        </p>
      </div>
    </div>
    <div class="flex-grid flex-grid--justify-center mt-3 mb-3">
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" src="https://picsum.photos/80" />
        <h6>Basil</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" src="https://picsum.photos/80" />
        <h6>Cilantro</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" src="https://picsum.photos/80" />
        <h6>Tulsi (Holy Basil)</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" src="https://picsum.photos/80" />
        <h6>Lavender</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" src="https://picsum.photos/80" />
        <h6>Mint</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" src="https://picsum.photos/80" />
        <h6>Oregano</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" src="https://picsum.photos/80" />
        <h6>Parsley</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" src="https://picsum.photos/80" />
        <h6>Rosemary</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" src="https://picsum.photos/80" />
        <h6>Sage</h6>
      </div>
      <div class="flex-item membership-info__plant-option text-center mb-1">
        <img class="image-round" src="https://picsum.photos/80" />
        <h6>Thyme</h6>
      </div>
    </div>
  </div>
</section>
