<section id="membership-info__membership-includes">
  <div class="page-width pt-5 pb-5">
    <div class="grid">
      <div class="grid__item one-whole text-center mb-2">
        <h2 class="membership-info__tiny-header">Your Membership Includes</h2>
      </div>
      <div class="grid__item one-whole medium-up--one-third mb-2 text-center">
        <img src="https://picsum.photos/100" />
        <h3 class="h5">Premium App Support</h3>
      </div>
      <div class="grid__item one-whole medium-up--one-third mb-2 text-center">
        <img src="https://picsum.photos/100" />
        <h3 class="h5">Plant Food on Autopilot</h3>
      </div>
      <div class="grid__item one-whole medium-up--one-third mb-2 text-center">
        <img src="https://picsum.photos/100" />
        <h3 class="h5">Infinite Lives</h3>
      </div>
    </div>
  </div>
</section>
