<section id="membership-sustainable">
  <div class="page-width pt-5 pb-5">
    <div class="grid">
      <div class="grid__item two-thirds medium-up--five-twelfths mt-2 mb-2">
        <h2 class="text-white">
          All organic, sustainable, compostable, lovable. Cause plastic sucks.
        </h2>
        <p class="text-white">
          Maecenas interdum quam id luctus maximus. Etiam varius odio metus. Etiam varius libero sapien, quis cursus eros mattis nec. Vivamus id risus eu erat scelerisque varius quis id augue. Curabitur id sollicitudin turpis. Fusce quam urna, posuere vitae ipsum eget, efficitur dignissim lorem. Nam finibus libero nec urna imperdiet, id euismod leo pretium. Donec ut elementum libero.
        </p>
      </div>
    </div>
  </div>
</section>
