<section id="membership-timeline" class="pt-5 pb-5 bg-gold-tint">
  <img class="membership-timeline__image" src="https://picsum.photos/260/290" />
  <div class="page-width pt-5 pb-5">
    <div class="grid">
      <div class="membership__intro-text text-center pb-3">
        <h2>The Gardenio Journey</h2>
        <p>
          This is how a normal one year Gardenio Timeline looks like, but you can go 4ever.
        </p>
      </div>
    </div>
    <div class="membership-timeline__container">
      <div class="membership-timeline__item">
        <div class="membership-timeline__month">
          Month 1
        </div>
        <div class="membership-timeline__info">
          <p class="membership-timeline__price">$75</p>
          <div class="membership-timeline__plants">
            <div class="timeline-plant timeline-plant--triplet-1"></div>
            <div class="timeline-plant timeline-plant--triplet-2"></div>
            <div class="timeline-plant timeline-plant--triplet-3"></div>
          </div>
        </div>
        <div class="membership-timeline__description">
          <p>Your first growbox arrives with three plantkits! Such occasion for joy!</p>
        </div>
      </div>
      <div class="membership-timeline__item">
        <div class="membership-timeline__month">
          Month 4
        </div>
        <div class="membership-timeline__info membership-timeline__info--alt">
          <p class="membership-timeline__price">$45</p>
          <div class="membership-timeline__plants">
            <div class="timeline-plant"></div>
          </div>
        </div>
        <div class="membership-timeline__description">
          <p>Bam! New in-season plantkit, plant food for it, and infinite lives for it all season.</p>
        </div>
      </div>
      <div class="membership-timeline__item">
        <div class="membership-timeline__month">
          Month 7
        </div>
        <div class="membership-timeline__info">
          <p class="membership-timeline__price">$45</p>
          <div class="membership-timeline__plants">
            <div class="timeline-plant"></div>
          </div>
        </div>
        <div class="membership-timeline__description">
          <p>Your plant family is growing! You’re up to five now! Can you believe it? We can’t!</p>
        </div>
      </div>
      <div class="membership-timeline__item">
        <div class="membership-timeline__month">
          Month 10
        </div>
        <div class="membership-timeline__info membership-timeline__info--alt">
          <p class="membership-timeline__price">$45</p>
          <div class="membership-timeline__plants">
            <div class="timeline-plant"></div>
          </div>
        </div>
        <div class="membership-timeline__description">
          <p>You’re so good at this! Add to your collection, sub for a refill, it’s all good!</p>
        </div>
      </div>
    </div>
  </div>
</section>
