<section id="social-validation">
  <div class="page-width pt-3 pb-3">
    <div class="grid">
      <div class="membership__intro-text text-center pb-3">
        <h2>People dig it.</h2>
        <p>
          With Gardenio, you don’t have to grow it alone. It’s like white glove service, except with very dirty gloves.
        </p>
      </div>
    </div>
    <div class="grid social-validation__background">
      <div class="grid__item three-fifths small--push-one-fifth medium-up--one-third mb-2">
        <img src="{{ 'gardenio-testimonial-monxi.jpg' | asset_url }}" class="testimonial-img-1 mb-2" />
        <p class="social-validation__author">
          <strong>Monxi Gza</strong><br/>
          <em>Founder, SUAVS shoes | Austin, TX</em>
        </p>
        <p class="social-validation__quote">
          “I’m still picking oregano from the plant I got last summer!”
        </p>
      </div>
      <div class="grid__item three-fifths small--push-one-fifth medium-up--one-third mb-2">
        <img src="{{ 'gardenio-testimonial-moni.jpg' | asset_url }}" class="testimonial-img-2 mb-2" />
        <p class="social-validation__author">
          <strong>Monica Moreno</strong><br/>
          <em>Sommolier | Austin, TX</em>
        </p>
        <p class="social-validation__quote">
          “Omg this is the best smelling package I’ve ever received. I got this as a gift for Cassandra but I’m keeping it these are myyyyy babiesss”
        </p>
      </div>
      <div class="grid__item three-fifths small--push-one-fifth medium-up--one-third mb-2">
        <img src="{{ 'gardenio-testimonial-escher.jpg' | asset_url }}" class="testimonial-img-3 mb-2" />
        <p class="social-validation__author">
          <strong>Andrew Escher</strong><br/>
          <em>Real Estate Manager | Austin, TX</em>
        </p>
        <p class="social-validation__quote">
          “Every morning for the past six months, I walk outside, pick a holy basil leaf, smell it, and it makes my day immediately brighter. What you’re doing is important.”
        </p>
      </div>
    </div>
  </div>
</section>
