<!-- snippet/product-membership-price.liquid -->
{% if variant.title %}
  {%- assign compare_at_price = variant.compare_at_price -%}
  {%- assign price = variant.price -%}
  {%- assign price_per_mo = price | divided_by: 3 -%}
  {%- assign compare_at_price_per_mo = compare_at_price | divided_by: 3 -%}
  {%- assign available = variant.available -%}
{% else %}
  {%- assign compare_at_price = 1999 -%}
  {%- assign price = 1999 -%}
  {%- assign price_per_mo = price | divided_by: 3 -%}
  {%- assign compare_at_price_per_mo = compare_at_price | divided_by: 3 -%}
  {%- assign available = true -%}
{% endif %}

{%- assign money_price = price | money -%}

<dl class="price{% if available and compare_at_price > price %} price--on-sale{% endif %}{% if available and variant.unit_price_measurement %} price--unit-available{% endif %}" data-price>
  {% if available and compare_at_price > price %}
    <div class="early-bird__info-box mb-1">
      Get <strong>20% off</strong> your first season when you join Gardenio by February 28th and become an Original Gardener (OG).
    </div>
  {% endif %}

  <div class="cyan-divider"></div>

  {% if available and compare_at_price > price %}
    <dt>First Season Normal Price: </dt>
    <dd>{{ price | money }}</dd>

    <dt>OG First Season Discount: </dt>
    <dd>20% off</dd>

    <dt>Shipping: </dt>
    <dd>FREE</dd>

    <dt class="price__sale--label">Your First Season: </dt>
    <dd class="price__sale--amount">{{ compare_at_price | money }}</dd>
  {% else %}
    <dt>First Season: </dt>
    <dd>{{ price | money }}</dd>

    <dt>Shipping: </dt>
    <dd>FREE</dd>
  {% endif %}

  <dt>Following Seasons (recurring): </dt>
  <dd>$40</dd>

  <div class="cyan-divider"></div>
</dl>
