<div id="our-story">
  <div class="page-width">
    <div class="three-fifths small-one-half text-white">
      <h2>
        We&apos;re a scrappy team on a mission to create the next generation
         of lifelong at-home food gardeners. Check out our story.
      </h2>
      <a class="button has-addon">
        <span class="play-icon-circle mr-1" aria-hidden="true"></span>
        Watch Video
      </a>
    </div>
  </div>
</div>
