<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">

      <div class="form-vertical">

        <h1 class="text-center mb-1">Edit Account</h1>

        {%- assign formId = 'RegisterForm' -%}
        {% render "customer-fields", form_id: "gGOtzq" %}
      </div>
    </div>
  </div>
</div>
