.membership__intro-text {
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 480px;
}

/* COUNTDOWN */
.membership-info__order-by-container {
  margin: 0 auto;
  max-width: 400px;
}

.order-by-countdown {
  display: flex;
  justify-content: center;
}

.order-by-countdown {
  padding: 1em;
  background: $lightGray;
}

.countdown-block {
  border-left: 2px solid $medGray;
  padding: 0 1.5em;
}

.countdown-block:first-of-type {
  border-left: none;
}

.countdown-block-value {
  font-size: 2.5em;
}

.countdown-block-label {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

/* INFO */
.early-bird__floating-box {
  // floating outer box
  padding: 1em;
}
.early-bird__floating-box .product-single__description--alt {
  padding-bottom: 0;
}

.early-bird__info-box {
  // info box with special deal
  padding: 1em 2em;
  background-color: lighten($cyan, 40);
  color: darken($cyan, 15);
}

.cyan-divider {
  width: 100%;
  height: 0;
  border-bottom: 1px solid $cyan;
  margin: 1em 0;
}

.early-bird__price {
  border-bottom: 1px solid $goldShade;
  padding: 0.8em 0;
  margin: 0.8em 0;
}

/* PRICING */
dl.price {
  font-size: 18px;
  display: flex;
}
dl.price dt {
  box-sizing: border-box;
  padding: 5px;
  flex-basis: 70%;
  margin-bottom: 5px;
}
dl.price dd {
  padding: 5px;
  flex: 1;
  text-align: right;
}

.price__sale--amount {
  font-weight: bold;
  font-size: 1.2em;
  color: $cyan;
}
.price__sale--label {
  font-weight: bold;
}

.early-bird-membership__buy-button button.shopify-payment-button__button {
  padding: 2em 1em;
}
.early-bird-membership__buy-button .shopify-payment-button__button--hidden {
  display: none;
  margin: 0;
  padding: 0;
}

/* SECTION: MEMBERSHIP INCLUDES */
.membership-includes__tiny-header {
  weight: bold;
  text-transform: uppercase;
  color: $gray;
  letter-spacing: 1px;
  font-size: 1em;
}

.membership-includes__icon {
  margin-bottom: 1.3em;
}

/* SECTION: PLANT OPTIONS */
#plant-options {
  background-image: url("https://picsum.photos/1280/200");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.membership-info__plant-option {
  flex-basis: 160px;
}

img.image-round {
  border-radius: 50%;
}

/* SECTION: MEMBERSHIP TIMELINE */
#membership-timeline {
  position: relative;
  color: $goldShade;
}
#membership-timeline p {
  color: $goldShade;
}
.membership-timeline__image {
  position: absolute;
  left: 25px;
  top: -40px;
  clip-path: polygon(
    14% 3%,
    66% 0,
    100% 34%,
    96% 70%,
    52% 100%,
    0% 80%,
    0% 64%,
    8% 51%
  );
  @include media-query($medium-down) {
    display: none;
  }
}

.bg-gold-tint {
  background: $goldTint;
}

.membership-timeline__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  @include media-query($small) {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }
}

.membership-timeline__month {
  font-weight: bold;
}

.membership-timeline__item {
  box-sizing: border-box;
  flex: 1 0 auto;
  flex-basis: 25%;
  padding: 0;
}

.membership-timeline__info {
  border-top: 1px solid $goldShade;
  border-bottom: 1px solid $goldShade;
  height: 175px;
  position: relative;
  padding: 0.5em 1em;
  @include media-query($small) {
    background: #f7e8bf;
  }
}

.membership-timeline__info--alt {
  background: #f7e8bf;
}

.timeline-plant {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background: #ecb46c;
  border-radius: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
}

.timeline-plant--triplet-1 {
  top: 30%;
}
.timeline-plant--triplet-2 {
  top: 70%;
  left: 30%;
}
.timeline-plant--triplet-3 {
  top: 70%;
  left: 70%;
}

.membership-timeline__description {
  padding: 0.5em 1em;
  margin-bottom: 3em;
  text-align: center;
}

/* SECTION: MEMBERSHIP ORGANIC */
#membership-sustainable {
  background-image: url("https://picsum.photos/1280/600");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#membership-questions .unconstrained-container {
  position: relative;
  height: 674px;
}
#membership-questions .unconstrained-image {
  position: absolute;
  width: 734px;
  height: 674px;
  background-image: url("https://picsum.photos/734/674");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(
    0.14% 21.53%,
    7% 1px,
    35.64% 3.55%,
    76% 0px,
    100% 8%,
    97% 69%,
    100% 85%,
    70.82% 99.26%,
    57.71% 95.93%,
    15% 100%,
    7px 77.99%,
    3.68% 43.3%
    );
  );
  @include media-query($small) {
    width: 540px;
    height: 480px;
  }
}

/* SOCIAL VALIDATION */
.social-validation__background {
  background-image: url("https://picsum.photos/1000/448");
  background-repeat: no-repeat;
  background-size: 90% auto;
  background-position: top center;
}

.clip-path {
  clip-path: polygon(
    0% 15%,
    10% 0,
    40% 4%,
    76% 0,
    100% 8%,
    97% 69%,
    100% 85%,
    70% 100%,
    43% 94%,
    15% 100%,
    0 86%,
    6% 43%
  );
}

/* TODO: remove */
.placeholder {
  text-align: center;
  padding: 5em;
  background: $lightGray;
  font-weight: bold;
  font-size: 2em;
  border-bottom: 1px solid black;
}
