/* COUNTDOWN */
.membership-info__order-by-container {
  margin: 0 auto;
  max-width: 400px;
}

.order-by-countdown {
  display: flex;
  justify-content: center;
}

.order-by-countdown {
  padding: 1em;
  background: $lightGray;
}

.countdown-block {
  border-left: 2px solid $medGray;
  padding: 0 1.5em;
}

.countdown-block:first-of-type {
  border-left: none;
}

.countdown-block-value {
  font-size: 2.5em;
}

.countdown-block-label {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

/* INFO */
.early-bird__floating-box {
  // floating outer box
  padding: 1em;
}
.early-bird__floating-box .product-single__description--alt {
  padding-bottom: 0;
}

.early-bird__info-box {
  // info box with special deal
  padding: 1em 2em;
  background-color: lighten($cyan, 40);
  color: darken($cyan, 15);
}

.cyan-divider {
  width: 100%;
  height: 0;
  border-bottom: 1px solid $cyan;
  margin: 1em 0;
}

.early-bird__price {
  border-bottom: 1px solid $goldShade;
  padding: 0.8em 0;
  margin: 0.8em 0;
}

/* PRICING */
dl.price {
  font-size: 18px;
  display: flex;
}
dl.price dt {
  box-sizing: border-box;
  padding: 5px;
  flex-basis: 70%;
  margin-bottom: 5px;
}
dl.price dd {
  padding: 5px;
  flex: 1;
  text-align: right;
}

.price__sale--amount {
  font-weight: bold;
  font-size: 1.2em;
  color: $cyan;
}
.price__sale--label {
  font-weight: bold;
}

.early-bird-membership__buy-button button.shopify-payment-button__button {
  padding: 2em 1em;
}
.early-bird-membership__buy-button .shopify-payment-button__button--hidden {
  display: none;
  margin: 0;
  padding: 0;
}

/* SECTIONS */
.membership-info__tiny-header {
  weight: bold;
  text-transform: uppercase;
  color: $gray;
  letter-spacing: 1px;
  font-size: 0.8em;
}

#membership-info__organic-sustainable {
  background-image: url("https://picsum.photos/1280/600");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.membership-info__plant-option {
  flex-basis: 160px;
}

/* TODO: remove */
.placeholder {
  text-align: center;
  padding: 5em;
  background: $lightGray;
  font-weight: bold;
  font-size: 2em;
  border-bottom: 1px solid black;
}
