/* SECTIONS
   - hero
   - as seen in
   - how it works
   - offset video
   - memberships overview
   - curated box contents
   - autopilot plant meals
   - infinite lives
   - premium app support
   - questions
   - team mission
   - join email list
 */

#home__hero {
  position: relative;
}

#home__hero h1 {
  font-size: em(100px);
  font-weight: bolder;

  @include media-query($small) {
    font-size: em(50px);
  }
}

#home__hero__image {
  padding: em(150px) 0;
  background-image: url("https://dummyimage.com/625x700/666666/fefefe&text=Hero+Image");
  background-position: top right;
  background-size: auto 100%;
  background-repeat: no-repeat;

  @include media-query($small) {
    padding: em(75px) 0;
  }
}

#home__hero__leaf {
  position: absolute;
  left: 0;
  top: 0;
  width: 133px;
}

#home__as-seen-in {
  display: flex;
  align-items: center;
}

#home__green-bg {
  background-image: url({{"example.svg"|asset_url}});
  background-size: 100% auto;
  background-position: bottom center;
  background-color: $green;
}

#how-does-it-work-video {
  margin-top: -120px;
}

.interactive-item {
  padding-left: 2em;
  border-left: 5px solid transparent;
  color: silver;
  margin-bottom: 2em;

  &.selected {
    border-color: lime;
    color: black;
  }

  h4 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
  }
  p {
    color: inherit;
  }
}

.flex-form {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  fieldgroup.flex-field {
    flex: 1 0 auto;
    margin-right: 1em;
    margin-bottom: 1em;
    background: white;
    padding: 10px 15px;
    -moz-box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.3);
    box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.3);
  }
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0;
  }
  label {
    padding-bottom: 10px;
    color: silver;
    text-transform: uppercase;
    line-spacing: 2;
  }
  input[type="submit"] {
    background: lime;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 50px;
    margin-bottom: 1em;
  }
}
