/* SECTIONS
   - hero
   - as seen in
   - how it works
   - offset video
   - memberships overview
   - curated box contents
   - autopilot plant meals
   - infinite lives
   - premium app support
   - get with green
   - team mission
   - join email list
 */

.home-splash__wrapper,
#home__splash,
#home__hero {
  position: relative;
}

.home-splash__content {
  position: absolute;
  top: 0;
  left: 0;
}

.home-splash__image-wrapper {
  position: relative;
}

.coming-in-2020 {
  padding: $input-padding-top-bottom 24px;
  display: inline-block;
  background: #fff8eb;
}

.splash-content {
  padding-bottom: 80px;
}

.relative-image-wrapper {
  position: relative;
  overflow: visible;

  .top-right-sun {
    position: absolute;
    top: 10px;
    right: -80px;
    max-width: 160px;
  }

  .bottom-right-loop {
    position: absolute;
    bottom: -32px;
    right: -60px;
    max-width: 130px;
  }
}

#home__hero__leaf {
  position: absolute;
  left: 0;
  top: 0;
  width: 133px;
}

#home__as-seen-in {
  display: flex;
  align-items: center;
}

#home__green-bg {
  background-image: url({{"illo_greenbr_withlines.png"|asset_url}});
  background-size: auto 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-bottom: 6%;

  @include media-query($medium-up) {
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 165px;
  }

  .how-it-works-content {
    padding: 150px 0;
    @include media-query($medium-up) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}

#how-does-it-work-video {
  margin-top: -180px;
}

.interactive-item {
  padding-left: 2em;
  border-left: 5px solid transparent;
  color: silver;
  margin-bottom: 2em;

  &.selected {
    border-color: lime;
    color: black;
  }

  h4 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
  }
  p {
    color: inherit;
  }
}

.flex-form {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  fieldgroup.flex-field {
    flex: 1 0 auto;
    margin-right: 1em;
    margin-bottom: 1em;
    background: white;
    padding: 10px 15px;
    -moz-box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.3);
    box-shadow: 0px 0px 5px rgba(68, 68, 68, 0.3);
  }
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 0;
  }
  label {
    padding-bottom: 10px;
    color: silver;
    text-transform: uppercase;
    line-spacing: 2;
  }
  input[type="submit"] {
    background: lime;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 50px;
    margin-bottom: 1em;
  }
}

#shopify-section-1492033924902 {
  position: relative;
  margin-top: 6em;

  hr {
    margin: 85px 0 0 0;
  }
}

#autopilot-meals-illo {
  height: 104%;
  width: 50%;
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  position: absolute;
  top: -50px;
  right: 0;
  background-image: url({{"illo_gardenio_growyourownfood_fuckhomedepot_box.png"|asset}});

  @include media-query($medium-up) {
    top: -150px;
  }
}

.get-started__image {
  height: 200px;
  background-size: cover;

  &.one-app {
    background-image: url({{"example.svg"|asset}});
  }
  &.we-help {
    background-image: url({{"example.svg"|asset}});
  }
  &.delicious {
    background-image: url({{"example.svg"|asset}});
  }
}
.get-started__content {
  padding: 24px 20px;
}

#our-story {
  background-image: url({{"example-team.jpg"|asset}});
  background-size: cover;
  padding: 100px 1em;
}
