.memberships-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 150px;
}

.membership-block {
  padding: 40px 90px 24px 40px;
  border-radius: 10px;
  border: 2px solid transparent;
  background-position: bottom right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 310px;
  margin: 0 10px 10px;
}

.membership-block--green {
  border-color: $green;
  background-color: $greenTint;
}

.membership-block--rose {
  border-color: $rose;
  background-color: $roseTint;
}
.membership-block--gold {
  border-color: $gold;
  background-color: $goldTint;
}

.membership-block__details {
  margin-bottom: 55px;
}

.membership-badge {
  font-size: em(14);
  font-weight: bold;
  letter-spacing: 1px;
  line-height: em(18);
  text-transform: uppercase;
  &:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.membership-badge--gold {
  color: $goldShade;
  &:before {
    background-image: url({{"gold-symbol--placeholder.png"|asset_url}});
  }
}

.membership-badge--rose {
  color: $roseShade;
  &:before {
    background-image: url({{"rose-symbol--placeholder.png"|asset_url}});
  }
}

.membership-badge--green {
  color: $green;
  &:before {
    background-image: url({{"green-symbol--placeholder.png"|asset_url}});
  }
}
