@font-face {
  font-family: "Circular Air";
  src: url('{{ "CircularAirPro-Medium.otf" | asset_url }}');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circular Air";
  src: url('{{ "CircularAirPro-Black.otf" | asset_url }}');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Circular Air";
  src: url('{{ "CircularAirPro-Bold.otf" | asset_url }}');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Circular Air";
  src: url('{{ "CircularAirPro-Light.otf" | asset_url }}');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Circular Air";
  src: url('{{ "CircularAirPro-LightItalic.otf" | asset_url }}');
  font-weight: lighter;
  font-style: italic;
}

$black: #141925;
$darkGray: #081a2b;
$gray: #666;
$medGray: #aeafb2;
$lightGray: #e2e2e2;
$grass: #73b641;
$gold: #dca31a;
$goldTint: #fff6dd;
$goldShade: #bd6c03;
$rose: #ff9292;
$roseTint: #ffe7e7;
$roseShade: #ff5353;
$green: #6ab638;
$greenTint: #ecffde;
$blue: #089bbf;
$cyan: #41b6ac;

// $box-shadow: 0 15px 21px 0 rgba(0, 0, 0, 0.1);
$box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.09);
/* FONT SIZES
100px -- hero header
22px -- main copy
14px -- button text
18px -- detail text
32px (bold) -- section header
14px -- badge
32px -- content
14px -- label
18px -- input
*/

/*
 * per caniuse, these should be display set so that IE uses them
 */
section,
article,
aside,
header,
footer,
nav,
figure,
figcaption,
time,
mark,
main {
  display: block;
}
