$black: #141925;
$darkGray: 	#081A2B;
$grass: #73B641;
$gold: #DCA31A;
$goldTint: #FFF6DD;
$goldShade: #BD6C03;
$rose: #FF9292;
$roseTint: #FFE7E7;
$roseShade: #FF5353;
$green: #6AB638;
$greenTint: #ECFFDE;
$blue: #089BBF;
$cyan: #41B6AC;
