$black: #141925;
$darkGray: #081a2b;
$grass: #73b641;
$gold: #dca31a;
$goldTint: #fff6dd;
$goldShade: #bd6c03;
$rose: #ff9292;
$roseTint: #ffe7e7;
$roseShade: #ff5353;
$green: #6ab638;
$greenTint: #ecffde;
$blue: #089bbf;
$cyan: #41b6ac;
