<div id="home__hero">
  <div id="home__hero__leaf" aria-hidden="true">
    <img src="https://pics.clipartpng.com/midle/Leaf_PNG_Clip_Art-1981.png" />
  </div>

  <div class="page-width" id="home__hero__image">
    <div class="one-half small--two-thirds">
      <h1>A new kind of garden club</h1>
      <div class="two-thirds small--one-whole">
        <p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>
      </div>
    </div>
  </div>

  <div class="page-width text-center pv-5 border-bottom">
    <p>See if we <a href="#">service your area</a></p>
  </div>
</div>

<div id="home__as-seen-in" class="page-width pv-2">
  <div class="one-sixth">
    As seen in:
  </div>
  <div class="one-sixth">
    <img src="https://dummyimage.com/200x100/ffffff/a3a1a3&text=Built+In+Austin" />
  </div>
  <div class="one-sixth">
    <img src="https://dummyimage.com/200x50/ffffff/a3a1a3&text=Techcrunch" />
  </div>
  <div class="one-sixth">
    <img src="https://dummyimage.com/200x50/ffffff/a3a1a3&text=Austin+Gardener" />
  </div>
  <div class="one-sixth">
    <img src="https://dummyimage.com/200x50/ffffff/a3a1a3&text=Austin+eco+Network" />
  </div>
  <div class="one-sixth">
    <img src="https://dummyimage.com/200x50/ffffff/a3a1a3&text=CultureMap" />
  </div>
</div>

<div id="home__how-does-it-work">
  <div id="home__green-bg">
    <div class="page-width text-white text-center how-it-works-content">
      <div class="one-half small-one-whole centered-content">
        <h2>But hey, what is this Gardenio thing? How does it work?</h2>
      </div>
      <div class="four-fifths small-one-whole centered-content ph-2">
        <p class="text-white">
          Well buddy, we have three memberships. The first one is free and lets you access the free app, the second gives you monthly access to our premium app, and the third gives you the premium app *and* we send you everything you need each full season. Here’s what your life could look like:
        </p>
      </div>
    </div>
  </div>
  <div id="how-does-it-work-video" class="page-width">
    <div class="four-fifths small-one-whole centered-content pb-2">
      <div style="width: 100%; height: 300px; background: black; color: white"></div>
    </div>
  </div>
</div>

<div id="home__memberships-overview">
  <div class="memberships-container page-width pv-2">
    <div class="one-whole text-center">
      <h2>Memberships</h2>
    </div>
    <div class="membership-block membership-block--green">
      <div class="membership-block__details">
        <h3>Green</h3>
        <p>Access the app for forever and a day.</p>
      </div>
      <a class="button-text right-arrow">Get it free</a>
    </div>
    <div class="membership-block membership-block--rose">
      <div class="membership-block__details">
        <h3>Rose</h3>
        <p>Access the app for forever and a day.</p>
      </div>
      <a class="button-text right-arrow">Learn more</a>
    </div>
    <div class="membership-block membership-block--gold">
      <div class="membership-block__details">
        <h3>Gold</h3>
        <p>Access the app for forever and a day.</p>
      </div>
      <a class="button-text right-arrow">Learn more</a>
    </div>
  </div>
  <div class="pv-2 text-center">
    <a class="btn">Compare Memberships</a>
  </div>
</div>

{{ content_for_index }}
