<div id="home__splash">
  <div class="page-width">
	<h1>A new kind of garden club</h1>
	<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>
  </div>
</div>

<div class="page-width text-center">
  <p>See if we <a>service your area</a></p>
</div>

{{ content_for_index }}
