<header class="faq-bg text-center white-text">
  <div class="section-header text-center">
    <h1 class="h3">{{ page.title }}</h1>
  </div>
</header>
<div class="page-width faq-page">
  <div class="grid">
    <aside class="grid__item medium-up--one-quarter">
      <h3 class="h4">Categories</h3>
      <nav>
        <ul>
          <li><a href="#billing">Billing</a></li>
          <li><a href="#app-support">App and Support</a></li>
          <li><a href="#customize">Customizing Orders</a></li>
          <li><a href="#delivery">Delivery</a></li>
          <li><a href="#supply-chain">Supply Chain</a></li>
        </ul>
      </nav>
    </aside>
    <main class="grid__item medium-up--three-quarters">
      <div class="rte">
        <!-- {{ page.content }} -->
        <section id="billing">
          <h2>Billing</h2>
          <div class="questions-set">
            <div class="question-block open" data-category="billing" data-question="billed at checkout">
              <div class="question">
                <h3 class="q">
                  How much am I billed when I check out?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  When you check out, you are billed for your entire first season – in normal circumstances, this is the full $75 (unless we are running a promotion). Your next bill, $45, will run three months later. You will be notified several times before billing in order to confirm.
                </p>
              </div>
            </div>

            <div class="question-block open" data-category="billing" data-question="billed monthly">
              <div class="question">
                <h3 class="q">
                  How much am I billed monthly?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  Billing is seasonal – every three months – not monthly. You will be billed immediately in Month 1, with no bill in Month 2 and 3, and will be billed again in month 4 for your next season unless you cancel.
                </p>
              </div>
            </div>

            <div class="question-block open" data-category="billing" data-question="how to cancel">
              <div class="question">
                <h3 class="q">
                  How can I cancel my order or membership?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  If you’re looking to cancel your order, email support@growgardenio.com as soon as you can. If we haven’t shipped the order, we can still cancel it. If we’ve already shipped it, see our return policy below.
                  <br/>
                  You can cancel your membership anytime in your account dashboard.
                </p>
              </div>
            </div>

            <div class="question-block open" data-category="billing" data-question="money back">
              <div class="question">
                <h3 class="q">
                  Do I get money back if I return the products?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  Because everything we sell is organic and can be composted, we let you keep it instead of returning it. You can lend it to a friend, sell it, recycle it, upcycle it, compost it, make art out of it. Whatever your thing is.
                </p>
              </div>
            </div>

          </div>
        </section>

        <section id="app-support">
          <h2>App & Support</h2>

          <div class="questions-set">
            <div class="question-block open" data-category="app-support" data-question="support growing">
              <div class="question">
                <h3 class="q">
                  How does Gardenio support my growing process?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  We’re continuallybuilding new features into the app to have it guide you along the journey. Soon we’ll have a whole community for you to tap into to help you as you grow. For early members, you can email <u>support[at]growgardenio.com</u> with any questions you have and we’ll help you out!
                </p>
              </div>
            </div>

            <div class="question-block open" data-category="app-support" data-question="download app">
              <div class="question">
                <h3 class="q">
                  How do I download the app?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  You can download the app on the <a href="https://apps.apple.com/us/app/gardenio/id1475726553">App Store</a> and <a href="https://play.google.com/store/apps/details?id=com.growgardenio.gardenio&hl=en_US">Google Play</a>. You must currently be a Gardenio member to access the mobile app.
                </p>
              </div>
            </div>

            <div class="question-block open" data-category="app-support" data-question="what app do">
              <div class="question">
                <h3 class="q">
                  What does the app do?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  The app’s goal is to support you in your journey by connection you to contextual information, supplies in the amount you need them, and your local community for support and celebration. We currently house instructions and care guides for all of your plants, with local weather and what that means for your gardening life.  We’re constantly working to improve the app with features based on customer feedback. Tell us what you’d like to see at <u>support[at]growgardenio.com</u>
                </p>
              </div>
            </div>

            <div class="question-block open" data-category="app-support" data-question="pay for app">
              <div class="question">
                <h3 class="q">
                  Do I have to pay for the app?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  If you’re a Gardenio member, the app comes as part of the deal, you don’t need to pay for it separately. If you’re not a Gardenio member, Contact us at <u>chelsea[at]growgardenio.com</u> if you want to be a tester for the app.
                </p>
              </div>
            </div>

          </div>
        </section>

        <section id="customize">
          <h2>Order & Customization</h2>

          <div class="questions-set">
            <div class="question-block open" data-category="customize" data-question="customize order">
              <div class="question">
                <h3 class="q">
                  What, if anything, can I customize on my order?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  After you sign up for a membership, we’ll send you a link to indicate your plant preferences. You can customize which kinds of plants you do and don’t want. We’ll be sure to send you something in season from your list of approved plants. We’ll send you the soil and mulch right for that plant. In the near future, you’ll be able to customize your container color (all are blue right now), delivery date, and much more.
                </p>
              </div>
            </div>

            <div class="question-block open" data-category="customize" data-question="which plants">
              <div class="question">
                <h3 class="q">
                  How do you know what plants to send me?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  We work with our plant provider, a farm growing for over 50 years in Central Texas, to only send what is right for your area and your time of year. We’ll send you warm weather plants in warm weather, cool weather plants in cool weather. Makes sense, right?
                </p>
              </div>
            </div>

            <div class="question-block open" data-category="customize" data-question="change plants">
              <div class="question">
                <h3 class="q">
                  Can I change the plants you want to send me?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  Currently, you can email us at email support[at]growgardenio.com to edit your plant preferences. Once we’ve sent em, we can’t change it though!
                </p>
              </div>
            </div>

            <div class="question-block open" data-category="customize" data-question="plant refill">
              <div class="question">
                <h3 class="q">
                  What if I just need a plant refill and not another container and care guide?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  For right now, email us at support[at]growgardenio.com and we’ll make the modification. In the future, you’ll be able to make that adjustment in your account dashboard.
                </p>
              </div>
            </div>

          </div>
        </section>

        <section id="delivery">
          <h2>Delivery & Fulfillment</h2>
          <div class="questions-set">
            <div class="question-block open" data-category="delivery" data-question="how often">
              <div class="question">
                <h3 class="q">
                  How often do you ship growboxes?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  For each member, we ship your growbox every three months. However, behind the scenes in the Gardenio secret cave, we’re shipping out growboxes to customers once a month, usually in the middle of the month. We send an email before we ship so that you ensure you’ll be available to receive the package.
                </p>
              </div>
            </div>

            <div class="question-block open" data-category="delivery" data-question="messed shipping">
              <div class="question">
                <h3 class="q">
                  Won’t the plant get all messed up in shipping?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  We’ve developed a way of shipping plants that keeps them safe, secure, and healthy. So nope, it shouldn’t be all messed up.
                </p>
              </div>
            </div>

            <div class="question-block open" data-category="delivery" data-question="show up dead">
              <div class="question">
                <h3 class="q">
                  What if my plant shows up dead?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  While this rarely happens, sometimes it does. Email us with a photo at support[at]growgardenio.com and we’ll send you a new one.
                </p>
              </div>
            </div>

            <div class="question-block open" data-category="delivery" data-question="not there">
              <div class="question">
                <h3 class="q">
                  What if I’m not there to receive it?
                </h3>
                <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
              </div>
              <div class="answer">
                <p class="a">
                  We ship our plants in healthy condition, which means they’re quite likely to be able to take a few days of neglect before things get real bad. But I wouldn’t take any chances. Open the box immediately or get a friend of neighbor to take care of it. We currently cannot adjust our shipping date.
                </p>
              </div>
            </div>
          </div>
        </section>

        <section id="supply-chain">
          <h2>Supply Chain</h2>

          <div class="questions-set">
          <div class="question-block open" data-category="supply-chain" data-question="materials source">
            <div class="question">
              <h3 class="q">
                Where do you get your materials? Are they organic, sustainable, etc.?
              </h3>
              <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
            </div>
            <div class="answer">
              <p class="a">
                All of our plants, mulch, and soil come from local Organic Central Texas producers – when you buy with us, you’re buying local. Our printing, packaging, and box production is also done in Central Texas. Depending on the plant, we even use compost made out of local Central Texas food waste. The only thing we pull from out of state are our compostable containers – made in California, because we just couldn’t find anything cooler than a container made out of rice hulls.
              </p>
            </div>
          </div>

          <div class="question-block open" data-category="supply-chain" data-question="decide source">
            <div class="question">
              <h3 class="q">
                How do you decide what materials to source?
              </h3>
              <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
            </div>
            <div class="answer">
              <p class="a">
                We go through a rigorous evaluation process to determine what organic materials to use in our plantkits. We start with the best experience first, then dance a delicate dance balancing sustainability, reliability, and cost. We make an active effort to seek out and work with businesses run by women and people of color where possible. We’ll typically vet at least five different vendors.
              </p>
            </div>
          </div>

          <div class="question-block open" data-category="supply-chain" data-question="gmo free">
            <div class="question">
              <h3 class="q">
                Are your plants GMO free?
              </h3>
              <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
            </div>
            <div class="answer">
              <p class="a">
                Though some seeds will be GMO free,this is not currently something for which we optimize.
              </p>
            </div>
          </div>

          <div class="question-block open" data-category="supply-chain" data-question="climate change">
            <div class="question">
              <h3 class="q">
                How do you counter plastic waste and climate change?
              </h3>
              <div class="chevron" aria-hidden="true">{%- include 'icon-chevron-right' -%}</div>
            </div>
            <div class="answer">
              <p class="a">
                We’re trying our damndest to be a zero plastic company – in 2019 we stopped using plastic containers and switched to containers made out of rice hulls and natural dyes. They’re really tough! They’ll compost after about 5 years.
                <br/>
                Growing plants counters climate change. Plants take in C02. By avoiding plastic in our packaging, we’re seeking to eliminate as much carbon footprint as possible.
              </p>
            </div>
          </div>
        </section>

      </div>
    </main>
  </div>
</div>

<script>
(function(){
  'use strict'
  function clearOpenedQuestions() {
    const opened = document.querySelectorAll('.open');
    if (opened.length === 0) return;
    opened.forEach((item) => {
      item.classList.remove('open');
    });
  }

  function toggleQuestion(targetQuestion) {
    const selfOpened = targetQuestion.classList.contains('open');
    clearOpenedQuestions();
    if (!selfOpened) {
      targetQuestion.classList.add('open');
      logQuestionView(targetQuestion);
    }
  }

  function initFaqInteractive() {
    clearOpenedQuestions();
    document.addEventListener('click', function (event) {
      const clickedQuestion = event.target.closest('.question-block');
      if (!clickedQuestion) return;
      event.preventDefault();
      toggleQuestion(clickedQuestion);
    }, false);
  }

  initFaqInteractive();
})();
</script>
